*{
    margin: 0;
    padding: 0!important;
    box-sizing: border-box;
}
.containerfull{
    padding: 0 40px!important;
}
.container-main{
    background-image: url(/img/img8.jpeg);
    height: 400px;
    
    
}   
/* navbar start */
nav.navbar{
    background-color: rgb(87, 14, 14);
    height: 60px;
  }
  a.navbar-brand{
    font-size: 27px;
    color: whitesmoke;
    font-weight: bold;
    top:5px;
    position: relative;
  }
  a.navbar-brand p{
    font-size: 13px;
  }
  .navbar-nav li.nav-item a{
    font-size: 18px;
    color:white;
  }
  li.nav-item a:hover{
    color:black;
    text-shadow:1px 1px 2px rgb(8, 64, 97) ;
  }
/* navbar end   */
/* slider section */
.slidersetting{
    height: 300px;
    margin: 40px 0;
  }
  .slidersetting h1{
    margin: 60px 0;
    font-size: 50px;
    font-weight: bold;
  }
  .slidersetting img{
    height: 200px;
  }
  /* end slider section */
  
  /* service section */
  .ourservice{
    padding: 100px 0px 0px 60px;
    height: 500px;
  }
  .ourservice h1{
    font-size: 50px;
    font-weight: bold;
  }
  .rowsetting{
    margin: 60px 0;
  }
  .imgsetting img{
    height: 140px;
  }
  .immgsetting:hover{
    transform: scale(1.1);
  }
  .rowsetting h2{
    margin-top: 20px;
    font-weight: bold;
  }
  .rowsetting p{
    padding: 10px;
  }
  /* end service section */
span{
      color:rgb(112, 35, 35) ;
}
#aa{
    margin-left: 450px;
}
